# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.venv/
.pth
# Data
*.sqlite3
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary
*.tmp
